@use "../reset";

.randomizer  {
    > .settings {
        display: block;
        position: relative;

        .theme {
            display: flex;
            position: relative;
            justify-content: space-between;

            &-switcher {
                display: flex;
                position: relative;
                justify-content: start;
            }
        }

        .languages {
            display: block;
            position: relative;

            &-main-language {
                display: block;
                position: relative;
            }

            &-additional-languages {
                display: block;
                position: relative;

                > div {
                    display: flex;
                    position: relative;
                    justify-content: start;
                    gap: 20px;
                }

                &-list {
                    display: block;
                    position: relative;
                }

                &-actions {
                    display: flex;
                    position: relative;
                    justify-content: start;
                    align-items: start;
                    gap: 10px;
                }
            }
        }
    }

    > .dashboard {
        display: flex;
        position: fixed;
        justify-content: space-between;
        flex-direction: column;
        top: 0;
        right: 0;
        width: 500px;
        height: 100%;

        .search {
            &-form {
                display: flex;
                position: relative;
                justify-content: space-between;
            }
        }

        .actions {
            &-main {
                display: flex;
                position: relative;
                justify-content: space-between;

                &__button {
                    width: 100%;
                    height: fit-content;
                }
            }

            &-additional {
                display: block;
                position: relative;

                &__button {
                    width: 100%;
                    height: fit-content;
                }
            }
        }

        .parameters {
            display: block;
            position: relative;

            > div {
                display: flex;
                position: relative;
                justify-content: space-between;
            }
        }

        .lists {
            height: 100%;
            display: block;
            position: relative;
            overflow-y: scroll;
            overflow-x: hidden;

            .lists_delete-lists {
                float: right;
            }
        }

        .filters {
            &-form {
                display: flex;
                position: relative;
                justify-content: space-around;
            }
        }

        .other {
            display: flex;
            position: relative;
            justify-content: space-between;

            > div {
                display: flex;
                position: relative;
                justify-content: start;
            }

            &-utilities {
                flex-direction: row-reverse;
            }
        }
    }
}