@use "../reset";
@use "../_components/background";
@use "../_components/borders";
@use "../_components/text";

*::placeholder {
    color: text.$inactive;
}

.randomizer {
    main {
        overflow: hidden;
        width: calc(100% - 501px);

        > section {
            box-sizing: border-box;
        }

        > .words {
            user-select: none;
            padding: 0 5px;

            p, pre {
                box-sizing: border-box;
                font-size: 20px;
            }

            .counter {
                width: fit-content;

                > p {
                    text-align: center;
                    color: text.$inactive;
                }
            }
        }

        > .settings {
            width: 100%;

            svg {
                width: 30px;
                height: 30px;
            }

            > div {
                @include borders.default(bottom);
                padding: 0 10px;
                margin: 0 10px;

                &:nth-child(odd) {
                    border: none;
                }

                &:first-of-type {
                    margin-top: 10px;
                    padding-bottom: 10px;
                    @include borders.default(bottom);
                }

                &:last-of-type {
                    margin-bottom: 10px;
                    // padding-top: 10px;
                }
            }

            .theme {
                .setups-switcher {
                    @include borders.inactive;
                    border-radius: 10px;

                    &__button {
                        font-size: 20px;
                        padding: 5px 20px;
                        color: text.$inactive;

                        &:first-of-type {
                            @include borders.inactive(right);
                        }

                        &:hover {
                            color: text.$active;
                        }
                    }
                }

                &-switcher {
                    @include borders.inactive;
                    border-radius: 10px;

                    &__button {
                        @include borders.inactive(right);
                        padding: 5px 20px;

                        &:last-of-type {
                            border: none;
                        }

                        > svg {
                            fill: text.$inactive;
                        }

                        &:hover {
                            > svg {
                                fill: text.$hover;
                            }
                        }
                    }
                }

                &_close-settings {
                    @include borders.hover;
                    border-radius: 10px;
                    padding: 0 6px;

                    > svg {
                        fill: text.$inactive;
                    }

                    &:hover {
                        > svg {
                            fill: text.$active;                    
                        }
                    }
                }
            }

            .languages {
                p {
                    text-align: center;
                    font-size: 20px;
                    margin-bottom: 10px;
                }

                > div {
                    @include borders.inactive(bottom);
                    padding: 10px 0;

                    &:last-of-type {
                        border-bottom: none;
                    }
                }

                &-main-language {
                    &__button {
                        font-size: 20px;
                        @include borders.hover;
                        border-radius: 10px;
                        color: text.$inactive;
                        padding: 5px 20px;

                        &:hover {
                            color: text.$active;
                        }
                    }
                }

                &-additional-languages {
                    &-list {
                        @include borders.inactive;
                        border-radius: 10px;

                        &__button {
                            @include borders.inactive(bottom);
                            width: 100%;
                            padding: 5px 20px;
                            font-size: 20px;
                            color: text.$inactive;

                            > svg {
                                width: 20px;
                                height: 20px;
                                fill: text.$inactive;
                            }

                            &:last-of-type {
                                border: none;
                            }

                            &:hover {
                                color: text.$active;

                                > svg {
                                    fill: text.$active;
                                }
                            }
                        }
                    }

                    &-actions {
                        &__button {
                            @include borders.hover;
                            border-radius: 10px;
                            padding: 6px;

                            > svg {
                                fill: text.$inactive;
                            }

                            &:hover {
                                > svg {
                                    fill: text.$active;
                                }
                            }
                        }
                    }
                }

                &-add {
                    margin: 0 10px;

                    p {
                        text-align: center;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }

                    > div {
                        margin: 10px 0;
                    }

                    > div:last-of-type {
                        margin: 0;
                        padding: 10px 0;
                        @include borders.inactive(top);
                    }

                    > div:first-of-type {
                        padding: 0;
                    }

                    &-select {
                        @include borders.inactive;
                        border-radius: 10px;

                        &__button {
                            font-size: 20px;
                            padding: 5px 20px;
                            color: text.$inactive;
                            @include borders.inactive(bottom);
                            @include borders.inactive(right);

                            &:nth-child(3n) {
                                border-right: none;
                            }

                            &:nth-last-child(-n+3) {
                                border-bottom: none;
                            }

                            &:hover {
                                color: text.$active;
                            }
                        }
                    }

                    

                    &-create {
                        &__input[type="text"] {
                            width: 100%;
                            font-size: 20px;
                            padding: 5px 5px 5px 20px;
                            @include borders.inactive;
                            border-radius: 10px;
                            color: text.$inactive;

                            &:focus {
                                color: text.$active;
                            }
                        }

                        &__label {
                            padding-left: 20px;
                            width: fit-content;
                            font-size: 20px;
                            margin: 10px 5px;

                            &::before {
                                content: "";
                                top: 2px;
                                left: -5px;
                                width: 20px;
                                height: 20px;
                                @include borders.default;
                                border-radius: 5px;
                            }
                        }

                        &__input[type="checkbox"]:checked + label::before {
                            content: "\2713";
                            font-weight: bold;
                            font-size: 20px;
                            text-align: center;
                        }

                        &__button {
                            font-size: 20px;
                            padding: 5px 20px;
                            @include borders.hover;
                            border-radius: 10px;
                            color: text.$inactive;
                            margin: 0 auto;

                            &:hover {
                                color: text.$active;
                            }
                        }
                    }
                }
            }

            .git {
                p {
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 10px;
                }

                > div {
                    @include borders.inactive(bottom);
                    padding: 10px 0;

                    &:last-of-type {
                        border-bottom: none;
                    }
                }

                &-repo {
                    &__input {
                        width: 100%;
                        @include borders.inactive;
                        border-radius: 10px;
                        padding: 5px 5px 5px 20px;
                        font-size: 20px;
                        color: text.$inactive;
                        box-sizing: border-box;

                        &:focus {
                            color: text.$active;
                            border-color: borders.$active;
                        }
                    }
                }

                &-branches {
                    &__button {
                        font-size: 20px;
                        @include borders.hover;
                        border-radius: 10px;
                        color: text.$inactive;
                        padding: 5px 20px;

                        &:hover {
                            color: text.$active;
                        }
                    }

                    &__label {
                        width: fit-content;
                        padding-left: 20px;
                        font-size: 20px;
                        margin-left: 5px;
                        margin-top: 10px;

                        &::before {
                            content: "";
                            width: 20px;
                            height: 20px;
                            left: -5px;
                            top: 2px;
                            @include borders.default;
                            border-radius: 5px;
                        }
                    }

                    &__input[type="checkbox"]:checked + label::before {
                        content: "\2713";
                        font-size: 20px;
                        font-weight: bold;
                        text-align: center;
                        vertical-align: top;
                    }
                }

                &-lang-folders {
                    &-foldernames {
                        &__input {
                            font-size: 20px;
                            @include borders.inactive;
                            border-radius: 10px;
                            padding: 5px 20px;
                            color: text.$inactive;
        
                            &:focus {
                                color: text.$active;
                                border-color: borders.$active;
                            }
                        }
                    }

                    &-langnames {
                        &__button {
                            font-size: 20px;
                            @include borders.hover;
                            border-radius: 10px;
                            padding: 5px 20px;
                            color: text.$inactive;

                            > svg {
                                width: 20px;
                                height: 20px;
                                fill: text.$inactive;
                            }
        
                            &:hover {
                                color: text.$active;

                                > svg {
                                    fill: text.$active;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    > .dashboard {
        background-color: background.$static;
        @include borders.default(left);
        
        > div {
            @include borders.default(bottom);
            border-color: borders.$static;
            padding: 5px 5px;
            margin: 0 15px;

            &:first-of-type {
                margin-top: 5px;
            }

            &:last-of-type {
                border: none;
            }
        }

        .search {
            margin-top: 5px;

            &-form {
                @include borders.default;
                border-radius: 10px;

                &__input {
                    width: 100%;
                    @include borders.default(right);
                    padding: 5px 5px 5px 20px;
                    outline: none;
                    font-size: 22px;
                }

                &__button {
                    width: fit-content;

                    > svg {
                        fill: text.$inactive;
                        width: 30px;
                        height: 30px;
                        padding: 5px 15px;
                    }

                    &:hover {
                        > svg {
                            fill: text.$active;
                        }
                    }
                }
            }
        }

        .actions {
            &-main {
                @include borders.default;
                border-radius: 10px;

                &__button {
                    @include borders.default(right);

                    &:last-of-type {
                        border: none;
                    }

                    > svg {
                        fill: text.$inactive;
                        width: 30px;
                        height: 30px;
                        padding: 5px;
                    }

                    &:hover {
                        > svg {
                            fill: text.$active;
                        }
                    }
                }
            }

            &-additional {
                &__button {
                    @include borders.default;
                    border-radius: 10px;
                    font-size: 20px;
                    margin-top: 5px;
                    color: text.$inactive;

                    &:hover {
                        color: text.$active;
                    }
                }
            }
        }

        .parameters {
            > div {
                gap: 20px;
            }

            &__input {
                width: 100%;
                @include borders.default;
                border-radius: 10px;
                padding: 5px 5px 5px 20px;
                font-size: 20px;
            }
        }

        .lists {
            > div {
                @include borders.border(bottom);
                padding: 5px 0;

                &:first-of-type {
                    padding-top: 0;
                }

                &:last-of-type {
                    border: none;
                    padding-bottom: 0;
                }

                > p {
                    font-size: 20px;
                    margin-bottom: 5px;
                }

                > button {
                    @include borders.hover;
                    border-radius: 8px;
                    font-size: 20px;
                    padding: 0 10px;
                    width: 100%;
                    text-align: left;
                    margin-bottom: 5px;
                    color: text.$inactive;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &.lists_delete-lists {
                        width: fit-content;
                        padding: 0 1px;
                    }

                    &:hover {
                        color: text.$active;

                        > svg {
                            fill: text.$active;
                        }
                    }

                    > svg {
                        fill: text.$inactive;
                        width: 20px;
                        height: 20px;
                        vertical-align: -13%;
                    }
                }
            }
        }

        .filters {
            &-form {
                gap: 20px;

                &__input {
                    @include borders.default;
                    padding: 5px 5px 5px 20px;
                    border-radius: 10px;
                    font-size: 20px;
                    width: 100%;
                }
            }
        }

        .other {
            &-languages {
                @include borders.border($color: borders.$inactive);
                border-radius: 10px;

                &__button {
                    @include borders.border(right, borders.$inactive);
                    font-size: 25px;
                    color: text.$inactive;
                    width: 60px;
                    text-align: center;

                    &:last-of-type {
                        border: none;
                    }

                    &:hover {
                        color: text.$hover;
                    }
                }
            }

            &-utilities {
                gap: 5px;

                &__button {
                    @include borders.hover;
                    border-radius: 8px;
                    padding: 5px;

                    > svg {
                        width: 30px;
                        height: 30px;
                        fill: text.$inactive;
                    }

                    &:hover {
                        > svg {
                            fill: text.$active;
                        }
                    }
                }
            }
        }
    }
}