@use "../reset";
@use "../_components/background";
@use "../_components/borders";
@use "../_components/text";

*::placeholder {
    color: text.$inactive;
}

.randomizer {
    main {
        width: calc(100% - 501px);

        > section {
            box-sizing: border-box;
        }

        > .words {
            user-select: none;
            padding: 0 5px;

            p, pre {
                box-sizing: border-box;
                font-size: 20px;
            }

            .counter {
                width: fit-content;

                > p {
                    text-align: center;
                    color: text.$inactive;
                }
            }
        }

        > .settings {
            width: 100%;
            
            svg {
                width: 30px;
                height: 30px;
            }

            .theme {
                margin: 0 10px; 
                @include borders.default(bottom);
                padding: 10px 0;
                background-color: #fff;

                &-flex {
                    &.setups-switcher{
                        @include borders.inactive;
                        border-radius: 10px;
                    }

                    .setups-switcher__button {
                        font-size: 20px;
                        padding: 5px 20px;
                        color: text.$inactive;

                        &:first-of-type {
                            @include borders.inactive(right);
                        }

                        &:hover {
                            color: text.$active;
                        }
                    }
    
                    &.theme-switcher {
                        @include borders.inactive;
                        border-radius: 10px;
                    }

                    .theme-switcher__button {
                        @include borders.inactive(right);
                        padding: 5px 20px;

                        &:last-of-type {
                            border: none;
                        }

                        > svg {
                            fill: text.$inactive;
                        }

                        &:hover {
                            > svg {
                                fill: text.$hover;
                            }
                        }
                    }
                }

                &_close-settings, &_exit {
                    @include borders.hover;
                    border-radius: 10px;
                    padding: 0 6px;

                    > a {
                        width: 100%;
                        height: 100%;
                    }

                    svg {
                        fill: text.$inactive;
                    }

                    &:hover {
                        > svg {
                            fill: text.$active;                    
                        }
                    }
                }
            }

            .settings-content {
                margin: 0 10px 10px 10px;

                .languages {
                    p {
                        text-align: center;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
    
                    > div {
                        @include borders.inactive(top);
                        padding: 10px;
    
                        &:first-of-type {
                            border-top: none;
                        }
                    }
    
                    &-main-language {
                        &__button {
                            font-size: 20px;
                            @include borders.hover;
                            border-radius: 10px;
                            color: text.$inactive;
                            padding: 5px 20px;
    
                            &:hover {
                                color: text.$active;
                            }
                        }
                    }
    
                    &-additional-languages {
                        @include borders.inactive(bottom);

                        &-list {
                            @include borders.inactive;
                            border-radius: 10px;
    
                            &__button {
                                @include borders.inactive(bottom);
                                width: 100%;
                                padding: 5px 20px;
                                font-size: 20px;
                                color: text.$inactive;
    
                                > svg {
                                    width: 20px;
                                    height: 20px;
                                    fill: text.$inactive;
                                    vertical-align: -14%;
                                }
    
                                &:last-of-type {
                                    border: none;
                                }
    
                                &:hover {
                                    color: text.$active;
    
                                    > svg {
                                        fill: text.$active;
                                    }
                                }
                            }
                        }
    
                        &-actions {
                            &__button {
                                @include borders.hover;
                                border-radius: 10px;
                                padding: 6px;
    
                                > svg {
                                    fill: text.$inactive;
                                }
    
                                &:hover {
                                    > svg {
                                        fill: text.$active;
                                    }
                                }
                            }
                        }
                    }
    
                    &-add {
                        margin: 0 10px;
    
                        p {
                            text-align: center;
                            font-size: 20px;
                            margin-bottom: 10px;
                        }

                        > div {
                            margin: 10px 0;
                        }
    
                        &-select {
                            @include borders.inactive;
                            border-radius: 10px;
    
                            &__button {
                                font-size: 20px;
                                padding: 5px 20px;
                                color: text.$inactive;
                                @include borders.inactive(bottom);
                                @include borders.inactive(right);
    
                                &:nth-child(3n) {
                                    border-right: none;
                                }
    
                                &:nth-last-child(-n+3) {
                                    border-bottom: none;
                                }
    
                                &:hover {
                                    color: text.$active;
                                }
                            }
                        }
    
                        &-create {
                            @include borders.inactive(top);
                            padding-top: 10px;

                            &__input[type="text"] {
                                width: 100%;
                                font-size: 20px;
                                padding: 5px 5px 5px 20px;
                                @include borders.inactive;
                                border-radius: 10px;
                                color: text.$inactive;
    
                                &:focus {
                                    color: text.$active;
                                }
                            }

                            &__input[type="text"]:focus {
                                border-color: borders.$active;
                            }
    
                            &__input_shorthand[type="text"] {
                                width: 70px;
                                text-align: center;
                                padding: 5px 20px;
                            }
    
                            &__label {
                                user-select: none;
                                padding-left: 20px;
                                width: fit-content;
                                font-size: 20px;
                                margin: 10px 5px;
    
                                &::before {
                                    content: "";
                                    top: 2px;
                                    left: -5px;
                                    width: 20px;
                                    height: 20px;
                                    @include borders.default;
                                    border-radius: 5px;
                                }
                            }
    
                            &__input[type="checkbox"]:checked + label::before {
                                content: "\2713";
                                font-weight: bold;
                                font-size: 20px;
                                text-align: center;
                            }
    
                            &__button {
                                font-size: 20px;
                                padding: 5px 20px;
                                @include borders.hover;
                                border-radius: 10px;
                                color: text.$inactive;
                                margin: 0 auto;
    
                                &:hover {
                                    color: text.$active;
                                }
                            }
                        }
                    }
                }
    
                .git {
                    p {
                        font-size: 20px;
                        text-align: center;
                        margin-bottom: 10px;
                    }
    
                    > div {
                        @include borders.inactive(bottom);
                        padding: 10px;
    
                        // &:last-of-type {
                        //     border-bottom: none;
                        // }
                    }
    
                    &-repo {
                        &__input {
                            width: 100%;
                            @include borders.inactive;
                            border-radius: 10px;
                            padding: 5px 5px 5px 20px;
                            font-size: 20px;
                            color: text.$inactive;
                            box-sizing: border-box;
    
                            &:focus {
                                color: text.$active;
                                border-color: borders.$active;
                            }
                        }
                    }
    
                    &-branches {
                        &__button {
                            font-size: 20px;
                            @include borders.hover;
                            border-radius: 10px;
                            color: text.$inactive;
                            padding: 5px 20px;
                            white-space: nowrap;
    
                            &:hover {
                                color: text.$active;
                            }
                        }
    
                        &__label {
                            user-select: none;
                            width: fit-content;
                            padding-left: 20px;
                            font-size: 20px;
                            margin-left: 5px;
                            margin-top: 10px;
    
                            &::before {
                                content: "";
                                width: 20px;
                                height: 20px;
                                left: -5px;
                                top: 2px;
                                @include borders.default;
                                border-radius: 5px;
                            }
                        }
    
                        &__input[type="checkbox"]:checked + label::before {
                            content: "\2713";
                            font-size: 20px;
                            font-weight: bold;
                            text-align: center;
                            vertical-align: top;
                        }

                        &__input[type="text"] {
                            @include borders.inactive;
                            border-radius: 10px;
                            font-size: 20px;
                            padding: 5px 5px 5px 20px;
                            width: 100%;
                        }

                        &_error {
                            margin: 10px 0 2px 10px !important;
                            color: #f00;
                            font-size: 14px !important;
                            text-align: start !important;
                            line-height: 12px;
                        }

                        &_no-info {
                            text-align: start !important;
                            color: text.$inactive;
                        }
                    }
    
                    &-lang-folders {
                        &-foldernames {
                            &__input {
                                font-size: 20px;
                                @include borders.inactive;
                                border-radius: 10px;
                                padding: 5px 20px;
                                color: text.$inactive;
            
                                &:focus {
                                    color: text.$active;
                                    border-color: borders.$active;
                                }
                            }
                        }
    
                        &-langnames {
                            &__button {
                                font-size: 20px;
                                @include borders.hover;
                                border-radius: 10px;
                                padding: 5px 20px;
                                color: text.$inactive;
                                white-space: nowrap;
    
                                > svg {
                                    width: 20px;
                                    height: 20px;
                                    fill: text.$inactive;
                                }
            
                                &:hover {
                                    color: text.$active;
    
                                    > svg {
                                        fill: text.$active;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    > .dashboard {
        background-color: background.$static;
        @include borders.default(left);
        
        > div {
            @include borders.default(bottom);
            border-color: borders.$static;
            padding: 5px;
            margin: 0 15px;

            &:first-of-type {
                margin-top: 5px;
            }

            &:last-of-type {
                border: none;
            }
        }

        .search {
            margin-top: 5px;

            &-form {
                @include borders.default;
                border-radius: 10px;

                &__input {
                    width: 100%;
                    @include borders.default(right);
                    padding: 5px 5px 5px 20px;
                    outline: none;
                    font-size: 22px;
                }

                &__button {
                    width: fit-content;

                    > svg {
                        fill: text.$inactive;
                        width: 30px;
                        height: 30px;
                        padding: 5px 15px;
                    }

                    &:hover {
                        > svg {
                            fill: text.$active;
                        }
                    }
                }
            }
        }

        .actions {
            &-main {
                @include borders.default;
                border-radius: 10px;

                &__button {
                    @include borders.default(left);

                    &:first-of-type {
                        border: none;
                    }

                    > svg {
                        fill: text.$inactive;
                        width: 30px;
                        height: 30px;
                        padding: 5px;
                    }

                    &:hover {
                        > svg {
                            fill: text.$active;
                        }
                    }
                }
            }

            &-additional {
                &__button {
                    @include borders.default;
                    border-radius: 10px;
                    font-size: 20px;
                    margin-top: 5px;
                    color: text.$inactive;

                    &:hover {
                        color: text.$active;
                    }
                }
            }
        }

        .parameters {
            > div {
                gap: 20px;
            }

            &__input {
                width: 100%;
                @include borders.default;
                border-radius: 10px;
                padding: 5px 5px 5px 20px;
                font-size: 20px;
            }
        }

        .lists {
            padding: 0 5px;

            > div {
                @include borders.border(bottom);
                padding-top: 5px;

                &:first-of-type {
                    padding-top: 0;
                }

                &:last-of-type {
                    border: none;
                    padding-bottom: 0;
                }
            }

            &_title {
                width: fit-content;
                font-size: 20px;
            }

            &_select-list {
                @include borders.hover;
                border-radius: 8px;
                padding-left: 10px;
                margin: 5px 0;
                cursor: pointer;
                
                > p {
                    font-size: 20px;
                    color: text.$inactive;
                }

                &:hover {
                    > p {
                        color: text.$active;
                    }

                    > button {
                        visibility: visible;
                    }
                }
            }

            &_delete-list {
                visibility: hidden;
                padding-right: 1px;
                
                > svg {
                    width: 20px;
                    height: 20px;
                    fill: text.$inactive;
                }

                &:hover {
                    > svg {
                        fill: text.$active;
                    }
                }
            }

            &_delete-lists {
                @include borders.hover;
                border-radius: 8px;
                padding: 1px;

                > svg {
                    width: 20px;
                    height: 20px;
                    fill: text.$inactive;
                }

                &:hover {
                    > svg {
                        fill: text.$active;
                    }
                }
            }
        }

        .filters {
            &-form {
                gap: 10px;

                &__input {
                    @include borders.default;
                    padding: 5px;
                    border-radius: 10px;
                    font-size: 20px;
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .other {
            &-languages {
                @include borders.border($color: borders.$inactive);
                border-radius: 10px;

                &__button {
                    @include borders.border(left, borders.$inactive);
                    font-size: 25px;
                    color: text.$inactive;
                    width: 60px;
                    text-align: center;

                    &:first-of-type {
                        border: none;
                    }

                    &:hover {
                        color: text.$hover;
                    }
                }
            }

            &-modes {
                @include borders.inactive();
                border-radius: 10px;

                &__button {
                    outline: none;
                    padding: 5px 10px;
                    @include borders.inactive(right);

                    > svg {
                        width: 30px;
                        height: 30px;
                        fill: text.$inactive;
                    }

                    &:last-of-type {
                        border: none;
                    }

                    &:hover {
                        > svg {
                            fill: text.$active;
                        }
                    }

                    &_stroke {
                        > svg {
                            stroke: text.$inactive;
                        }

                        &:hover {
                            > svg {
                                stroke: text.$active;
                            }
                        }
                    }
                }
            }

            &-utilities {
                gap: 5px;

                &__button {
                    @include borders.hover;
                    border-radius: 8px;
                    padding: 5px;

                    > svg {
                        width: 30px;
                        height: 30px;
                        fill: text.$inactive;
                    }

                    &:hover {
                        > svg {
                            fill: text.$active;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1050px) {    // 500px
    .randomizer {
        main {
            > .red {
                background-color: #f00;
            }

            > .white {
                background-color: #aaa;
            }

            > .blue {
                background-color: #00f;
            }

            > .settings {
                .settings-content {
                    .languages {
                        &-add-select {
                            &__button {
                                border: none;
                                @include borders.inactive(top);
        
                                &:first-of-type {
                                    border: none;
                                }
                            }
                        }

                        &-add-create {
                            &__input {
                                box-sizing: border-box;
                                width: 100%;

                                &_shorthand {
                                    box-sizing: content-box;
                                    width: 60px !important;
                                    text-align: start !important;
                                }
                            }
                        }
                    }

                    .git {
                        &-repo {
                            &__input {
                                padding-left: 10px;
                            }
                        }

                        &-branches {
                            &__input[type="text"] {
                                padding-left: 10px;
                            }

                            &__button {
                                width: 100%;
                            }
                        }

                        &-lang-folders {
                            &-langnames {
                                &__button {
                                    margin-bottom: 10px;

                                    &:last-of-type {
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            &-foldernames {
                                &__input {
                                    width: 100%;
                                    box-sizing: border-box;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    
        > .dashboard {
            .lists {
                &_delete-lists {
                    padding: 5px;
                }

                &_delete-list {
                    > svg {
                        padding: 5px;
                    }
                }
            }

            .other {
                &-languages {
                    &__button {
                        width: 50px !important;
                    }
                }
            }
        }
    }
}