* {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: jura;
}

button {
  display: block;
  cursor: pointer;
}

label {
  cursor: pointer;
}

input {
  outline: none;
}

svg {
  vertical-align: middle;
}

.randomizer > .settings {
  display: block;
  position: relative;
}
.randomizer > .settings .theme {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.randomizer > .settings .theme .setups-switcher {
  display: flex;
  position: relative;
  justify-content: start;
}
.randomizer > .settings .theme-switcher {
  display: flex;
  position: relative;
  justify-content: start;
}
.randomizer > .settings .languages {
  display: block;
  position: relative;
}
.randomizer > .settings .languages-main-language {
  display: block;
  position: relative;
}
.randomizer > .settings .languages-additional-languages {
  display: block;
  position: relative;
}
.randomizer > .settings .languages-additional-languages > div {
  display: flex;
  position: relative;
  justify-content: start;
  gap: 20px;
}
.randomizer > .settings .languages-additional-languages-list {
  display: block;
  position: relative;
}
.randomizer > .settings .languages-additional-languages-actions {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.randomizer > .settings .languages-add {
  display: block;
  position: relative;
}
.randomizer > .settings .languages-add-select {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
}
.randomizer > .settings .languages-add-select-from-all {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
}
.randomizer > .settings .languages-add-create {
  display: block;
  position: relative;
}
.randomizer > .settings .languages-add-create > div {
  display: block;
  position: relative;
}
.randomizer > .settings .languages-add-create__div {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 20px;
}
.randomizer > .settings .languages-add-create__input[type=checkbox] {
  display: none;
}
.randomizer > .settings .languages-add-create__label {
  display: block;
  position: relative;
}
.randomizer > .settings .languages-add-create__label::before {
  display: inline-block;
  position: absolute;
}
.randomizer > .settings .git-branches__input {
  display: none;
}
.randomizer > .settings .git-branches__label {
  display: block;
  position: relative;
}
.randomizer > .settings .git-branches__label::before {
  display: block;
  position: absolute;
}
.randomizer > .settings .git-lang-folders {
  display: block;
  position: relative;
}
.randomizer > .settings .git-lang-folders > div {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 25px;
  row-gap: 10px;
}
.randomizer > .settings .git-lang-folders-foldernames__input {
  display: block;
}
.randomizer > .dashboard {
  display: flex;
  position: fixed;
  justify-content: space-between;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
}
.randomizer > .dashboard .search-form {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.randomizer > .dashboard .actions-main {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.randomizer > .dashboard .actions-main__button {
  width: 100%;
  height: fit-content;
}
.randomizer > .dashboard .actions-additional {
  display: block;
  position: relative;
}
.randomizer > .dashboard .actions-additional__button {
  width: 100%;
  height: fit-content;
}
.randomizer > .dashboard .parameters {
  display: block;
  position: relative;
}
.randomizer > .dashboard .parameters > div {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.randomizer > .dashboard .lists {
  height: 100%;
  display: block;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}
.randomizer > .dashboard .lists .lists_delete-lists {
  float: right;
}
.randomizer > .dashboard .filters-form {
  display: flex;
  position: relative;
  justify-content: space-around;
}
.randomizer > .dashboard .other {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.randomizer > .dashboard .other > div {
  display: flex;
  position: relative;
  justify-content: start;
}
.randomizer > .dashboard .other-utilities {
  flex-direction: row-reverse;
}

/*# sourceMappingURL=position.css.map */
