@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: jura;
}

button {
  display: block;
  cursor: pointer;
}

label {
  cursor: pointer;
}

input {
  outline: none;
}

svg {
  vertical-align: middle;
}

*::placeholder {
  color: #777;
}

.randomizer main {
  width: calc(100% - 501px);
}
.randomizer main > section {
  box-sizing: border-box;
}
.randomizer main > .words {
  user-select: none;
  padding: 0 5px;
}
.randomizer main > .words p, .randomizer main > .words pre {
  box-sizing: border-box;
  font-size: 20px;
}
.randomizer main > .words .counter {
  width: fit-content;
}
.randomizer main > .words .counter > p {
  text-align: center;
  color: #777;
}
.randomizer main > .settings {
  width: 100%;
}
.randomizer main > .settings svg {
  width: 30px;
  height: 30px;
}
.randomizer main > .settings .theme {
  margin: 0 10px;
  border-bottom: 1px solid #000;
  padding: 10px 0;
  background-color: #fff;
}
.randomizer main > .settings .theme-flex.setups-switcher {
  border: 1px solid #aaa;
  border-radius: 10px;
}
.randomizer main > .settings .theme-flex .setups-switcher__button {
  font-size: 20px;
  padding: 5px 20px;
  color: #777;
}
.randomizer main > .settings .theme-flex .setups-switcher__button:first-of-type {
  border-right: 1px solid #aaa;
}
.randomizer main > .settings .theme-flex .setups-switcher__button:hover {
  color: #000;
}
.randomizer main > .settings .theme-flex.theme-switcher {
  border: 1px solid #aaa;
  border-radius: 10px;
}
.randomizer main > .settings .theme-flex .theme-switcher__button {
  border-right: 1px solid #aaa;
  padding: 5px 20px;
}
.randomizer main > .settings .theme-flex .theme-switcher__button:last-of-type {
  border: none;
}
.randomizer main > .settings .theme-flex .theme-switcher__button > svg {
  fill: #777;
}
.randomizer main > .settings .theme-flex .theme-switcher__button:hover > svg {
  fill: #333;
}
.randomizer main > .settings .theme_close-settings, .randomizer main > .settings .theme_exit {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 0 6px;
}
.randomizer main > .settings .theme_close-settings:hover, .randomizer main > .settings .theme_exit:hover {
  border-color: #000;
}
.randomizer main > .settings .theme_close-settings > a, .randomizer main > .settings .theme_exit > a {
  width: 100%;
  height: 100%;
}
.randomizer main > .settings .theme_close-settings svg, .randomizer main > .settings .theme_exit svg {
  fill: #777;
}
.randomizer main > .settings .theme_close-settings:hover > svg, .randomizer main > .settings .theme_exit:hover > svg {
  fill: #000;
}
.randomizer main > .settings .settings-content {
  margin: 0 10px 10px 10px;
}
.randomizer main > .settings .settings-content .languages p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.randomizer main > .settings .settings-content .languages > div {
  border-top: 1px solid #aaa;
  padding: 10px;
}
.randomizer main > .settings .settings-content .languages > div:first-of-type {
  border-top: none;
}
.randomizer main > .settings .settings-content .languages-main-language__button {
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  color: #777;
  padding: 5px 20px;
}
.randomizer main > .settings .settings-content .languages-main-language__button:hover {
  border-color: #000;
}
.randomizer main > .settings .settings-content .languages-main-language__button:hover {
  color: #000;
}
.randomizer main > .settings .settings-content .languages-additional-languages {
  border-bottom: 1px solid #aaa;
}
.randomizer main > .settings .settings-content .languages-additional-languages-list {
  border: 1px solid #aaa;
  border-radius: 10px;
}
.randomizer main > .settings .settings-content .languages-additional-languages-list__button {
  border-bottom: 1px solid #aaa;
  width: 100%;
  padding: 5px 20px;
  font-size: 20px;
  color: #777;
}
.randomizer main > .settings .settings-content .languages-additional-languages-list__button > svg {
  width: 20px;
  height: 20px;
  fill: #777;
  vertical-align: -14%;
}
.randomizer main > .settings .settings-content .languages-additional-languages-list__button:last-of-type {
  border: none;
}
.randomizer main > .settings .settings-content .languages-additional-languages-list__button:hover {
  color: #000;
}
.randomizer main > .settings .settings-content .languages-additional-languages-list__button:hover > svg {
  fill: #000;
}
.randomizer main > .settings .settings-content .languages-additional-languages-actions__button {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 6px;
}
.randomizer main > .settings .settings-content .languages-additional-languages-actions__button:hover {
  border-color: #000;
}
.randomizer main > .settings .settings-content .languages-additional-languages-actions__button > svg {
  fill: #777;
}
.randomizer main > .settings .settings-content .languages-additional-languages-actions__button:hover > svg {
  fill: #000;
}
.randomizer main > .settings .settings-content .languages-add {
  margin: 0 10px;
}
.randomizer main > .settings .settings-content .languages-add p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.randomizer main > .settings .settings-content .languages-add > div {
  margin: 10px 0;
}
.randomizer main > .settings .settings-content .languages-add-select {
  border: 1px solid #aaa;
  border-radius: 10px;
}
.randomizer main > .settings .settings-content .languages-add-select__button {
  font-size: 20px;
  padding: 5px 20px;
  color: #777;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
.randomizer main > .settings .settings-content .languages-add-select__button:nth-child(3n) {
  border-right: none;
}
.randomizer main > .settings .settings-content .languages-add-select__button:nth-last-child(-n+3) {
  border-bottom: none;
}
.randomizer main > .settings .settings-content .languages-add-select__button:hover {
  color: #000;
}
.randomizer main > .settings .settings-content .languages-add-create {
  border-top: 1px solid #aaa;
  padding-top: 10px;
}
.randomizer main > .settings .settings-content .languages-add-create__input[type=text] {
  width: 100%;
  font-size: 20px;
  padding: 5px 5px 5px 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  color: #777;
}
.randomizer main > .settings .settings-content .languages-add-create__input[type=text]:focus {
  color: #000;
}
.randomizer main > .settings .settings-content .languages-add-create__input[type=text]:focus {
  border-color: #000;
}
.randomizer main > .settings .settings-content .languages-add-create__input_shorthand[type=text] {
  width: 70px;
  text-align: center;
  padding: 5px 20px;
}
.randomizer main > .settings .settings-content .languages-add-create__label {
  user-select: none;
  padding-left: 20px;
  width: fit-content;
  font-size: 20px;
  margin: 10px 5px;
}
.randomizer main > .settings .settings-content .languages-add-create__label::before {
  content: "";
  top: 2px;
  left: -5px;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 5px;
}
.randomizer main > .settings .settings-content .languages-add-create__input[type=checkbox]:checked + label::before {
  content: "✓";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.randomizer main > .settings .settings-content .languages-add-create__button {
  font-size: 20px;
  padding: 5px 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  color: #777;
  margin: 0 auto;
}
.randomizer main > .settings .settings-content .languages-add-create__button:hover {
  border-color: #000;
}
.randomizer main > .settings .settings-content .languages-add-create__button:hover {
  color: #000;
}
.randomizer main > .settings .settings-content .git p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.randomizer main > .settings .settings-content .git > div {
  border-bottom: 1px solid #aaa;
  padding: 10px;
}
.randomizer main > .settings .settings-content .git-repo__input {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 5px 5px 5px 20px;
  font-size: 20px;
  color: #777;
  box-sizing: border-box;
}
.randomizer main > .settings .settings-content .git-repo__input:focus {
  color: #000;
  border-color: #000;
}
.randomizer main > .settings .settings-content .git-repo__button {
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  color: #777;
  padding: 5px 20px;
  white-space: nowrap;
}
.randomizer main > .settings .settings-content .git-repo__button:hover {
  border-color: #000;
}
.randomizer main > .settings .settings-content .git-repo__button:hover {
  color: #000;
}
.randomizer main > .settings .settings-content .git-repo_pgp-key {
  border: 1px solid #aaa;
  border-left: #aaa 5px solid;
  text-align: left !important;
  word-break: break-all;
  padding: 5px 5px 5px 10px;
  margin-top: 10px;
}
.randomizer main > .settings .settings-content .git-branches__button {
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  color: #777;
  padding: 5px 20px;
  white-space: nowrap;
}
.randomizer main > .settings .settings-content .git-branches__button:hover {
  border-color: #000;
}
.randomizer main > .settings .settings-content .git-branches__button:hover {
  color: #000;
}
.randomizer main > .settings .settings-content .git-branches__label {
  user-select: none;
  width: fit-content;
  padding-left: 20px;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 10px;
}
.randomizer main > .settings .settings-content .git-branches__label::before {
  content: "";
  width: 20px;
  height: 20px;
  left: -5px;
  top: 2px;
  border: 1px solid #000;
  border-radius: 5px;
}
.randomizer main > .settings .settings-content .git-branches__input[type=checkbox]:checked + label::before {
  content: "✓";
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
.randomizer main > .settings .settings-content .git-branches__input[type=text] {
  border: 1px solid #aaa;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 5px 5px 20px;
  width: 100%;
}
.randomizer main > .settings .settings-content .git-branches_error {
  margin: 10px 0 2px 10px !important;
  color: #f00;
  font-size: 14px !important;
  text-align: start !important;
  line-height: 12px;
}
.randomizer main > .settings .settings-content .git-branches_no-repo-info {
  text-align: start !important;
  color: #777;
}
.randomizer main > .settings .settings-content .git-branches_no-branches-info {
  text-align: start !important;
  color: #777;
}
.randomizer main > .settings .settings-content .git-lang-folders-foldernames__input {
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 5px 20px;
  color: #777;
}
.randomizer main > .settings .settings-content .git-lang-folders-foldernames__input:focus {
  color: #000;
  border-color: #000;
}
.randomizer main > .settings .settings-content .git-lang-folders-langnames__button {
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 10px;
  color: #777;
  padding: 5px 20px;
  white-space: nowrap;
}
.randomizer main > .settings .settings-content .git-lang-folders-langnames__button:hover {
  border-color: #000;
}
.randomizer main > .settings .settings-content .git-lang-folders-langnames__button > svg {
  width: 20px;
  height: 20px;
  fill: #777;
}
.randomizer main > .settings .settings-content .git-lang-folders-langnames__button:hover {
  color: #000;
}
.randomizer main > .settings .settings-content .git-lang-folders-langnames__button:hover > svg {
  fill: #000;
}
.randomizer > .dashboard {
  background-color: #fff;
  border-left: 1px solid #000;
}
.randomizer > .dashboard > div {
  border-bottom: 1px solid #000;
  border-color: #000;
  padding: 5px;
  margin: 0 15px;
}
.randomizer > .dashboard > div:first-of-type {
  margin-top: 5px;
}
.randomizer > .dashboard > div:last-of-type {
  border: none;
}
.randomizer > .dashboard .search {
  margin-top: 5px;
}
.randomizer > .dashboard .search-form {
  border: 1px solid #000;
  border-radius: 10px;
}
.randomizer > .dashboard .search-form__input {
  width: 100%;
  border-right: 1px solid #000;
  padding: 5px 5px 5px 20px;
  outline: none;
  font-size: 22px;
}
.randomizer > .dashboard .search-form__button {
  width: fit-content;
}
.randomizer > .dashboard .search-form__button > svg {
  fill: #777;
  width: 30px;
  height: 30px;
  padding: 5px 15px;
}
.randomizer > .dashboard .search-form__button:hover > svg {
  fill: #000;
}
.randomizer > .dashboard .actions-main {
  border: 1px solid #000;
  border-radius: 10px;
}
.randomizer > .dashboard .actions-main__button {
  border-left: 1px solid #000;
}
.randomizer > .dashboard .actions-main__button:first-of-type {
  border: none;
}
.randomizer > .dashboard .actions-main__button > svg {
  fill: #777;
  width: 30px;
  height: 30px;
  padding: 5px;
}
.randomizer > .dashboard .actions-main__button:hover > svg {
  fill: #000;
}
.randomizer > .dashboard .actions-additional__button {
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 5px;
  color: #777;
}
.randomizer > .dashboard .actions-additional__button:hover {
  color: #000;
}
.randomizer > .dashboard .parameters > div {
  gap: 20px;
}
.randomizer > .dashboard .parameters__input {
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 5px 5px 20px;
  font-size: 20px;
}
.randomizer > .dashboard .lists {
  padding: 0 5px;
}
.randomizer > .dashboard .lists > div {
  border-bottom: 1px solid #000;
  padding-top: 5px;
}
.randomizer > .dashboard .lists > div:first-of-type {
  padding-top: 0;
}
.randomizer > .dashboard .lists > div:last-of-type {
  border: none;
  padding-bottom: 0;
}
.randomizer > .dashboard .lists_title {
  width: fit-content;
  font-size: 20px;
}
.randomizer > .dashboard .lists_select-list {
  border: 1px solid #aaa;
  border-radius: 8px;
  padding-left: 10px;
  margin: 5px 0;
  cursor: pointer;
}
.randomizer > .dashboard .lists_select-list:hover {
  border-color: #000;
}
.randomizer > .dashboard .lists_select-list > p {
  font-size: 20px;
  color: #777;
}
.randomizer > .dashboard .lists_select-list:hover > p {
  color: #000;
}
.randomizer > .dashboard .lists_select-list:hover > button {
  visibility: visible;
}
.randomizer > .dashboard .lists_delete-list {
  visibility: hidden;
  padding-right: 1px;
}
.randomizer > .dashboard .lists_delete-list > svg {
  width: 20px;
  height: 20px;
  fill: #777;
}
.randomizer > .dashboard .lists_delete-list:hover > svg {
  fill: #000;
}
.randomizer > .dashboard .lists_delete-lists {
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 1px;
}
.randomizer > .dashboard .lists_delete-lists:hover {
  border-color: #000;
}
.randomizer > .dashboard .lists_delete-lists > svg {
  width: 20px;
  height: 20px;
  fill: #777;
}
.randomizer > .dashboard .lists_delete-lists:hover > svg {
  fill: #000;
}
.randomizer > .dashboard .filters-form {
  gap: 10px;
}
.randomizer > .dashboard .filters-form__input {
  border: 1px solid #000;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
.randomizer > .dashboard .other-languages {
  border: 1px solid #aaa;
  border-radius: 10px;
}
.randomizer > .dashboard .other-languages__button {
  border-left: 1px solid #aaa;
  font-size: 25px;
  color: #777;
  width: 60px;
  text-align: center;
}
.randomizer > .dashboard .other-languages__button:first-of-type {
  border: none;
}
.randomizer > .dashboard .other-languages__button:hover {
  color: #333;
}
.randomizer > .dashboard .other-modes {
  border: 1px solid #aaa;
  border-radius: 10px;
}
.randomizer > .dashboard .other-modes__button {
  outline: none;
  padding: 5px 10px;
  border-right: 1px solid #aaa;
}
.randomizer > .dashboard .other-modes__button > svg {
  width: 30px;
  height: 30px;
  fill: #777;
}
.randomizer > .dashboard .other-modes__button:last-of-type {
  border: none;
}
.randomizer > .dashboard .other-modes__button:hover > svg {
  fill: #000;
}
.randomizer > .dashboard .other-modes__button_stroke > svg {
  stroke: #777;
}
.randomizer > .dashboard .other-modes__button_stroke:hover > svg {
  stroke: #000;
}
.randomizer > .dashboard .other-utilities {
  gap: 5px;
}
.randomizer > .dashboard .other-utilities__button {
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 5px;
}
.randomizer > .dashboard .other-utilities__button:hover {
  border-color: #000;
}
.randomizer > .dashboard .other-utilities__button > svg {
  width: 30px;
  height: 30px;
  fill: #777;
}
.randomizer > .dashboard .other-utilities__button:hover > svg {
  fill: #000;
}

@media only screen and (max-width: 1050px) {
  .randomizer main > .red {
    background-color: #f00;
  }
  .randomizer main > .white {
    background-color: #aaa;
  }
  .randomizer main > .blue {
    background-color: #00f;
  }
  .randomizer main > .settings .settings-content .languages-add-select__button {
    border: none;
    border-top: 1px solid #aaa;
  }
  .randomizer main > .settings .settings-content .languages-add-select__button:first-of-type {
    border: none;
  }
  .randomizer main > .settings .settings-content .languages-add-create__input {
    box-sizing: border-box;
    width: 100%;
  }
  .randomizer main > .settings .settings-content .languages-add-create__input_shorthand {
    box-sizing: content-box;
    width: 60px !important;
    text-align: start !important;
  }
  .randomizer main > .settings .settings-content .git-repo__input {
    padding-left: 10px;
  }
  .randomizer main > .settings .settings-content .git-branches__input[type=text] {
    padding-left: 10px;
  }
  .randomizer main > .settings .settings-content .git-branches__button {
    width: 100%;
  }
  .randomizer main > .settings .settings-content .git-lang-folders-langnames__button {
    margin-bottom: 10px;
  }
  .randomizer main > .settings .settings-content .git-lang-folders-langnames__button:last-of-type {
    margin-bottom: 0;
  }
  .randomizer main > .settings .settings-content .git-lang-folders-foldernames__input {
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
  }
  .randomizer > .dashboard .lists_delete-lists {
    padding: 5px;
  }
  .randomizer > .dashboard .lists_delete-list > svg {
    padding: 5px;
  }
  .randomizer > .dashboard .other-languages__button {
    width: 50px !important;
  }
}

/*# sourceMappingURL=style.css.map */
