* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #0000;
    font-family: jura;
}

button {
    display: block;
    cursor: pointer;
}

input {
    outline: none;
}

svg {
    vertical-align: middle;
}

// [placeholder] {
//     color: #aaa;
// }